.text-1 {
  font-size: 1vh;
}

.m-1 {
  margin: 1vh;
}

.ml-1 {
  margin-left: 1vh;
}

.mr-1 {
  margin-right: 1vh;
}

.mt-1 {
  margin-top: 1vh;
}

.mb-1 {
  margin-bottom: 1vh;
}

.p-1 {
  padding: 1vh;
}

.pt-1 {
  padding-top: 1vh;
}

.pl-1 {
  padding-left: 1vh;
}

.pr-1 {
  padding-right: 1vh;
}

.pb-1 {
  padding-bottom: 1vh;
}

.w-1 {
  width: 1vh;
}

.h-1 {
  height: 1vh;
}

.rounded-1 {
  border-radius: 1vh;
}

.border-1 {
  border: 1vh;
}

.text-2 {
  font-size: 2vh;
}

.m-2 {
  margin: 2vh;
}

.ml-2 {
  margin-left: 2vh;
}

.mr-2 {
  margin-right: 2vh;
}

.mt-2 {
  margin-top: 2vh;
}

.mb-2 {
  margin-bottom: 2vh;
}

.p-2 {
  padding: 2vh;
}

.pt-2 {
  padding-top: 2vh;
}

.pl-2 {
  padding-left: 2vh;
}

.pr-2 {
  padding-right: 2vh;
}

.pb-2 {
  padding-bottom: 2vh;
}

.w-2 {
  width: 2vh;
}

.h-2 {
  height: 2vh;
}

.rounded-2 {
  border-radius: 2vh;
}

.border-2 {
  border: 2vh;
}

.text-3 {
  font-size: 3vh;
}

.m-3 {
  margin: 3vh;
}

.ml-3 {
  margin-left: 3vh;
}

.mr-3 {
  margin-right: 3vh;
}

.mt-3 {
  margin-top: 3vh;
}

.mb-3 {
  margin-bottom: 3vh;
}

.p-3 {
  padding: 3vh;
}

.pt-3 {
  padding-top: 3vh;
}

.pl-3 {
  padding-left: 3vh;
}

.pr-3 {
  padding-right: 3vh;
}

.pb-3 {
  padding-bottom: 3vh;
}

.w-3 {
  width: 3vh;
}

.h-3 {
  height: 3vh;
}

.rounded-3 {
  border-radius: 3vh;
}

.border-3 {
  border: 3vh;
}

.text-4 {
  font-size: 4vh;
}

.m-4 {
  margin: 4vh;
}

.ml-4 {
  margin-left: 4vh;
}

.mr-4 {
  margin-right: 4vh;
}

.mt-4 {
  margin-top: 4vh;
}

.mb-4 {
  margin-bottom: 4vh;
}

.p-4 {
  padding: 4vh;
}

.pt-4 {
  padding-top: 4vh;
}

.pl-4 {
  padding-left: 4vh;
}

.pr-4 {
  padding-right: 4vh;
}

.pb-4 {
  padding-bottom: 4vh;
}

.w-4 {
  width: 4vh;
}

.h-4 {
  height: 4vh;
}

.rounded-4 {
  border-radius: 4vh;
}

.border-4 {
  border: 4vh;
}

.text-5 {
  font-size: 5vh;
}

.m-5 {
  margin: 5vh;
}

.ml-5 {
  margin-left: 5vh;
}

.mr-5 {
  margin-right: 5vh;
}

.mt-5 {
  margin-top: 5vh;
}

.mb-5 {
  margin-bottom: 5vh;
}

.p-5 {
  padding: 5vh;
}

.pt-5 {
  padding-top: 5vh;
}

.pl-5 {
  padding-left: 5vh;
}

.pr-5 {
  padding-right: 5vh;
}

.pb-5 {
  padding-bottom: 5vh;
}

.w-5 {
  width: 5vh;
}

.h-5 {
  height: 5vh;
}

.rounded-5 {
  border-radius: 5vh;
}

.border-5 {
  border: 5vh;
}

.text-6 {
  font-size: 6vh;
}

.m-6 {
  margin: 6vh;
}

.ml-6 {
  margin-left: 6vh;
}

.mr-6 {
  margin-right: 6vh;
}

.mt-6 {
  margin-top: 6vh;
}

.mb-6 {
  margin-bottom: 6vh;
}

.p-6 {
  padding: 6vh;
}

.pt-6 {
  padding-top: 6vh;
}

.pl-6 {
  padding-left: 6vh;
}

.pr-6 {
  padding-right: 6vh;
}

.pb-6 {
  padding-bottom: 6vh;
}

.w-6 {
  width: 6vh;
}

.h-6 {
  height: 6vh;
}

.rounded-6 {
  border-radius: 6vh;
}

.border-6 {
  border: 6vh;
}

.text-7 {
  font-size: 7vh;
}

.m-7 {
  margin: 7vh;
}

.ml-7 {
  margin-left: 7vh;
}

.mr-7 {
  margin-right: 7vh;
}

.mt-7 {
  margin-top: 7vh;
}

.mb-7 {
  margin-bottom: 7vh;
}

.p-7 {
  padding: 7vh;
}

.pt-7 {
  padding-top: 7vh;
}

.pl-7 {
  padding-left: 7vh;
}

.pr-7 {
  padding-right: 7vh;
}

.pb-7 {
  padding-bottom: 7vh;
}

.w-7 {
  width: 7vh;
}

.h-7 {
  height: 7vh;
}

.rounded-7 {
  border-radius: 7vh;
}

.border-7 {
  border: 7vh;
}

.text-8 {
  font-size: 8vh;
}

.m-8 {
  margin: 8vh;
}

.ml-8 {
  margin-left: 8vh;
}

.mr-8 {
  margin-right: 8vh;
}

.mt-8 {
  margin-top: 8vh;
}

.mb-8 {
  margin-bottom: 8vh;
}

.p-8 {
  padding: 8vh;
}

.pt-8 {
  padding-top: 8vh;
}

.pl-8 {
  padding-left: 8vh;
}

.pr-8 {
  padding-right: 8vh;
}

.pb-8 {
  padding-bottom: 8vh;
}

.w-8 {
  width: 8vh;
}

.h-8 {
  height: 8vh;
}

.rounded-8 {
  border-radius: 8vh;
}

.border-8 {
  border: 8vh;
}

.text-9 {
  font-size: 9vh;
}

.m-9 {
  margin: 9vh;
}

.ml-9 {
  margin-left: 9vh;
}

.mr-9 {
  margin-right: 9vh;
}

.mt-9 {
  margin-top: 9vh;
}

.mb-9 {
  margin-bottom: 9vh;
}

.p-9 {
  padding: 9vh;
}

.pt-9 {
  padding-top: 9vh;
}

.pl-9 {
  padding-left: 9vh;
}

.pr-9 {
  padding-right: 9vh;
}

.pb-9 {
  padding-bottom: 9vh;
}

.w-9 {
  width: 9vh;
}

.h-9 {
  height: 9vh;
}

.rounded-9 {
  border-radius: 9vh;
}

.border-9 {
  border: 9vh;
}

.text-10 {
  font-size: 10vh;
}

.m-10 {
  margin: 10vh;
}

.ml-10 {
  margin-left: 10vh;
}

.mr-10 {
  margin-right: 10vh;
}

.mt-10 {
  margin-top: 10vh;
}

.mb-10 {
  margin-bottom: 10vh;
}

.p-10 {
  padding: 10vh;
}

.pt-10 {
  padding-top: 10vh;
}

.pl-10 {
  padding-left: 10vh;
}

.pr-10 {
  padding-right: 10vh;
}

.pb-10 {
  padding-bottom: 10vh;
}

.w-10 {
  width: 10vh;
}

.h-10 {
  height: 10vh;
}

.rounded-10 {
  border-radius: 10vh;
}

.border-10 {
  border: 10vh;
}

.text-11 {
  font-size: 11vh;
}

.m-11 {
  margin: 11vh;
}

.ml-11 {
  margin-left: 11vh;
}

.mr-11 {
  margin-right: 11vh;
}

.mt-11 {
  margin-top: 11vh;
}

.mb-11 {
  margin-bottom: 11vh;
}

.p-11 {
  padding: 11vh;
}

.pt-11 {
  padding-top: 11vh;
}

.pl-11 {
  padding-left: 11vh;
}

.pr-11 {
  padding-right: 11vh;
}

.pb-11 {
  padding-bottom: 11vh;
}

.w-11 {
  width: 11vh;
}

.h-11 {
  height: 11vh;
}

.rounded-11 {
  border-radius: 11vh;
}

.border-11 {
  border: 11vh;
}

.text-12 {
  font-size: 12vh;
}

.m-12 {
  margin: 12vh;
}

.ml-12 {
  margin-left: 12vh;
}

.mr-12 {
  margin-right: 12vh;
}

.mt-12 {
  margin-top: 12vh;
}

.mb-12 {
  margin-bottom: 12vh;
}

.p-12 {
  padding: 12vh;
}

.pt-12 {
  padding-top: 12vh;
}

.pl-12 {
  padding-left: 12vh;
}

.pr-12 {
  padding-right: 12vh;
}

.pb-12 {
  padding-bottom: 12vh;
}

.w-12 {
  width: 12vh;
}

.h-12 {
  height: 12vh;
}

.rounded-12 {
  border-radius: 12vh;
}

.border-12 {
  border: 12vh;
}

.text-13 {
  font-size: 13vh;
}

.m-13 {
  margin: 13vh;
}

.ml-13 {
  margin-left: 13vh;
}

.mr-13 {
  margin-right: 13vh;
}

.mt-13 {
  margin-top: 13vh;
}

.mb-13 {
  margin-bottom: 13vh;
}

.p-13 {
  padding: 13vh;
}

.pt-13 {
  padding-top: 13vh;
}

.pl-13 {
  padding-left: 13vh;
}

.pr-13 {
  padding-right: 13vh;
}

.pb-13 {
  padding-bottom: 13vh;
}

.w-13 {
  width: 13vh;
}

.h-13 {
  height: 13vh;
}

.rounded-13 {
  border-radius: 13vh;
}

.border-13 {
  border: 13vh;
}

.text-14 {
  font-size: 14vh;
}

.m-14 {
  margin: 14vh;
}

.ml-14 {
  margin-left: 14vh;
}

.mr-14 {
  margin-right: 14vh;
}

.mt-14 {
  margin-top: 14vh;
}

.mb-14 {
  margin-bottom: 14vh;
}

.p-14 {
  padding: 14vh;
}

.pt-14 {
  padding-top: 14vh;
}

.pl-14 {
  padding-left: 14vh;
}

.pr-14 {
  padding-right: 14vh;
}

.pb-14 {
  padding-bottom: 14vh;
}

.w-14 {
  width: 14vh;
}

.h-14 {
  height: 14vh;
}

.rounded-14 {
  border-radius: 14vh;
}

.border-14 {
  border: 14vh;
}

.text-15 {
  font-size: 15vh;
}

.m-15 {
  margin: 15vh;
}

.ml-15 {
  margin-left: 15vh;
}

.mr-15 {
  margin-right: 15vh;
}

.mt-15 {
  margin-top: 15vh;
}

.mb-15 {
  margin-bottom: 15vh;
}

.p-15 {
  padding: 15vh;
}

.pt-15 {
  padding-top: 15vh;
}

.pl-15 {
  padding-left: 15vh;
}

.pr-15 {
  padding-right: 15vh;
}

.pb-15 {
  padding-bottom: 15vh;
}

.w-15 {
  width: 15vh;
}

.h-15 {
  height: 15vh;
}

.rounded-15 {
  border-radius: 15vh;
}

.border-15 {
  border: 15vh;
}

.text-16 {
  font-size: 16vh;
}

.m-16 {
  margin: 16vh;
}

.ml-16 {
  margin-left: 16vh;
}

.mr-16 {
  margin-right: 16vh;
}

.mt-16 {
  margin-top: 16vh;
}

.mb-16 {
  margin-bottom: 16vh;
}

.p-16 {
  padding: 16vh;
}

.pt-16 {
  padding-top: 16vh;
}

.pl-16 {
  padding-left: 16vh;
}

.pr-16 {
  padding-right: 16vh;
}

.pb-16 {
  padding-bottom: 16vh;
}

.w-16 {
  width: 16vh;
}

.h-16 {
  height: 16vh;
}

.rounded-16 {
  border-radius: 16vh;
}

.border-16 {
  border: 16vh;
}

.text-17 {
  font-size: 17vh;
}

.m-17 {
  margin: 17vh;
}

.ml-17 {
  margin-left: 17vh;
}

.mr-17 {
  margin-right: 17vh;
}

.mt-17 {
  margin-top: 17vh;
}

.mb-17 {
  margin-bottom: 17vh;
}

.p-17 {
  padding: 17vh;
}

.pt-17 {
  padding-top: 17vh;
}

.pl-17 {
  padding-left: 17vh;
}

.pr-17 {
  padding-right: 17vh;
}

.pb-17 {
  padding-bottom: 17vh;
}

.w-17 {
  width: 17vh;
}

.h-17 {
  height: 17vh;
}

.rounded-17 {
  border-radius: 17vh;
}

.border-17 {
  border: 17vh;
}

.text-18 {
  font-size: 18vh;
}

.m-18 {
  margin: 18vh;
}

.ml-18 {
  margin-left: 18vh;
}

.mr-18 {
  margin-right: 18vh;
}

.mt-18 {
  margin-top: 18vh;
}

.mb-18 {
  margin-bottom: 18vh;
}

.p-18 {
  padding: 18vh;
}

.pt-18 {
  padding-top: 18vh;
}

.pl-18 {
  padding-left: 18vh;
}

.pr-18 {
  padding-right: 18vh;
}

.pb-18 {
  padding-bottom: 18vh;
}

.w-18 {
  width: 18vh;
}

.h-18 {
  height: 18vh;
}

.rounded-18 {
  border-radius: 18vh;
}

.border-18 {
  border: 18vh;
}

.text-19 {
  font-size: 19vh;
}

.m-19 {
  margin: 19vh;
}

.ml-19 {
  margin-left: 19vh;
}

.mr-19 {
  margin-right: 19vh;
}

.mt-19 {
  margin-top: 19vh;
}

.mb-19 {
  margin-bottom: 19vh;
}

.p-19 {
  padding: 19vh;
}

.pt-19 {
  padding-top: 19vh;
}

.pl-19 {
  padding-left: 19vh;
}

.pr-19 {
  padding-right: 19vh;
}

.pb-19 {
  padding-bottom: 19vh;
}

.w-19 {
  width: 19vh;
}

.h-19 {
  height: 19vh;
}

.rounded-19 {
  border-radius: 19vh;
}

.border-19 {
  border: 19vh;
}

.text-20 {
  font-size: 20vh;
}

.m-20 {
  margin: 20vh;
}

.ml-20 {
  margin-left: 20vh;
}

.mr-20 {
  margin-right: 20vh;
}

.mt-20 {
  margin-top: 20vh;
}

.mb-20 {
  margin-bottom: 20vh;
}

.p-20 {
  padding: 20vh;
}

.pt-20 {
  padding-top: 20vh;
}

.pl-20 {
  padding-left: 20vh;
}

.pr-20 {
  padding-right: 20vh;
}

.pb-20 {
  padding-bottom: 20vh;
}

.w-20 {
  width: 20vh;
}

.h-20 {
  height: 20vh;
}

.rounded-20 {
  border-radius: 20vh;
}

.border-20 {
  border: 20vh;
}

.text-21 {
  font-size: 21vh;
}

.m-21 {
  margin: 21vh;
}

.ml-21 {
  margin-left: 21vh;
}

.mr-21 {
  margin-right: 21vh;
}

.mt-21 {
  margin-top: 21vh;
}

.mb-21 {
  margin-bottom: 21vh;
}

.p-21 {
  padding: 21vh;
}

.pt-21 {
  padding-top: 21vh;
}

.pl-21 {
  padding-left: 21vh;
}

.pr-21 {
  padding-right: 21vh;
}

.pb-21 {
  padding-bottom: 21vh;
}

.w-21 {
  width: 21vh;
}

.h-21 {
  height: 21vh;
}

.rounded-21 {
  border-radius: 21vh;
}

.border-21 {
  border: 21vh;
}

.text-22 {
  font-size: 22vh;
}

.m-22 {
  margin: 22vh;
}

.ml-22 {
  margin-left: 22vh;
}

.mr-22 {
  margin-right: 22vh;
}

.mt-22 {
  margin-top: 22vh;
}

.mb-22 {
  margin-bottom: 22vh;
}

.p-22 {
  padding: 22vh;
}

.pt-22 {
  padding-top: 22vh;
}

.pl-22 {
  padding-left: 22vh;
}

.pr-22 {
  padding-right: 22vh;
}

.pb-22 {
  padding-bottom: 22vh;
}

.w-22 {
  width: 22vh;
}

.h-22 {
  height: 22vh;
}

.rounded-22 {
  border-radius: 22vh;
}

.border-22 {
  border: 22vh;
}

.text-23 {
  font-size: 23vh;
}

.m-23 {
  margin: 23vh;
}

.ml-23 {
  margin-left: 23vh;
}

.mr-23 {
  margin-right: 23vh;
}

.mt-23 {
  margin-top: 23vh;
}

.mb-23 {
  margin-bottom: 23vh;
}

.p-23 {
  padding: 23vh;
}

.pt-23 {
  padding-top: 23vh;
}

.pl-23 {
  padding-left: 23vh;
}

.pr-23 {
  padding-right: 23vh;
}

.pb-23 {
  padding-bottom: 23vh;
}

.w-23 {
  width: 23vh;
}

.h-23 {
  height: 23vh;
}

.rounded-23 {
  border-radius: 23vh;
}

.border-23 {
  border: 23vh;
}

.text-24 {
  font-size: 24vh;
}

.m-24 {
  margin: 24vh;
}

.ml-24 {
  margin-left: 24vh;
}

.mr-24 {
  margin-right: 24vh;
}

.mt-24 {
  margin-top: 24vh;
}

.mb-24 {
  margin-bottom: 24vh;
}

.p-24 {
  padding: 24vh;
}

.pt-24 {
  padding-top: 24vh;
}

.pl-24 {
  padding-left: 24vh;
}

.pr-24 {
  padding-right: 24vh;
}

.pb-24 {
  padding-bottom: 24vh;
}

.w-24 {
  width: 24vh;
}

.h-24 {
  height: 24vh;
}

.rounded-24 {
  border-radius: 24vh;
}

.border-24 {
  border: 24vh;
}

.text-25 {
  font-size: 25vh;
}

.m-25 {
  margin: 25vh;
}

.ml-25 {
  margin-left: 25vh;
}

.mr-25 {
  margin-right: 25vh;
}

.mt-25 {
  margin-top: 25vh;
}

.mb-25 {
  margin-bottom: 25vh;
}

.p-25 {
  padding: 25vh;
}

.pt-25 {
  padding-top: 25vh;
}

.pl-25 {
  padding-left: 25vh;
}

.pr-25 {
  padding-right: 25vh;
}

.pb-25 {
  padding-bottom: 25vh;
}

.w-25 {
  width: 25vh;
}

.h-25 {
  height: 25vh;
}

.rounded-25 {
  border-radius: 25vh;
}

.border-25 {
  border: 25vh;
}

.text-26 {
  font-size: 26vh;
}

.m-26 {
  margin: 26vh;
}

.ml-26 {
  margin-left: 26vh;
}

.mr-26 {
  margin-right: 26vh;
}

.mt-26 {
  margin-top: 26vh;
}

.mb-26 {
  margin-bottom: 26vh;
}

.p-26 {
  padding: 26vh;
}

.pt-26 {
  padding-top: 26vh;
}

.pl-26 {
  padding-left: 26vh;
}

.pr-26 {
  padding-right: 26vh;
}

.pb-26 {
  padding-bottom: 26vh;
}

.w-26 {
  width: 26vh;
}

.h-26 {
  height: 26vh;
}

.rounded-26 {
  border-radius: 26vh;
}

.border-26 {
  border: 26vh;
}

.text-27 {
  font-size: 27vh;
}

.m-27 {
  margin: 27vh;
}

.ml-27 {
  margin-left: 27vh;
}

.mr-27 {
  margin-right: 27vh;
}

.mt-27 {
  margin-top: 27vh;
}

.mb-27 {
  margin-bottom: 27vh;
}

.p-27 {
  padding: 27vh;
}

.pt-27 {
  padding-top: 27vh;
}

.pl-27 {
  padding-left: 27vh;
}

.pr-27 {
  padding-right: 27vh;
}

.pb-27 {
  padding-bottom: 27vh;
}

.w-27 {
  width: 27vh;
}

.h-27 {
  height: 27vh;
}

.rounded-27 {
  border-radius: 27vh;
}

.border-27 {
  border: 27vh;
}

.text-28 {
  font-size: 28vh;
}

.m-28 {
  margin: 28vh;
}

.ml-28 {
  margin-left: 28vh;
}

.mr-28 {
  margin-right: 28vh;
}

.mt-28 {
  margin-top: 28vh;
}

.mb-28 {
  margin-bottom: 28vh;
}

.p-28 {
  padding: 28vh;
}

.pt-28 {
  padding-top: 28vh;
}

.pl-28 {
  padding-left: 28vh;
}

.pr-28 {
  padding-right: 28vh;
}

.pb-28 {
  padding-bottom: 28vh;
}

.w-28 {
  width: 28vh;
}

.h-28 {
  height: 28vh;
}

.rounded-28 {
  border-radius: 28vh;
}

.border-28 {
  border: 28vh;
}

.text-29 {
  font-size: 29vh;
}

.m-29 {
  margin: 29vh;
}

.ml-29 {
  margin-left: 29vh;
}

.mr-29 {
  margin-right: 29vh;
}

.mt-29 {
  margin-top: 29vh;
}

.mb-29 {
  margin-bottom: 29vh;
}

.p-29 {
  padding: 29vh;
}

.pt-29 {
  padding-top: 29vh;
}

.pl-29 {
  padding-left: 29vh;
}

.pr-29 {
  padding-right: 29vh;
}

.pb-29 {
  padding-bottom: 29vh;
}

.w-29 {
  width: 29vh;
}

.h-29 {
  height: 29vh;
}

.rounded-29 {
  border-radius: 29vh;
}

.border-29 {
  border: 29vh;
}

.text-30 {
  font-size: 30vh;
}

.m-30 {
  margin: 30vh;
}

.ml-30 {
  margin-left: 30vh;
}

.mr-30 {
  margin-right: 30vh;
}

.mt-30 {
  margin-top: 30vh;
}

.mb-30 {
  margin-bottom: 30vh;
}

.p-30 {
  padding: 30vh;
}

.pt-30 {
  padding-top: 30vh;
}

.pl-30 {
  padding-left: 30vh;
}

.pr-30 {
  padding-right: 30vh;
}

.pb-30 {
  padding-bottom: 30vh;
}

.w-30 {
  width: 30vh;
}

.h-30 {
  height: 30vh;
}

.rounded-30 {
  border-radius: 30vh;
}

.border-30 {
  border: 30vh;
}

.text-31 {
  font-size: 31vh;
}

.m-31 {
  margin: 31vh;
}

.ml-31 {
  margin-left: 31vh;
}

.mr-31 {
  margin-right: 31vh;
}

.mt-31 {
  margin-top: 31vh;
}

.mb-31 {
  margin-bottom: 31vh;
}

.p-31 {
  padding: 31vh;
}

.pt-31 {
  padding-top: 31vh;
}

.pl-31 {
  padding-left: 31vh;
}

.pr-31 {
  padding-right: 31vh;
}

.pb-31 {
  padding-bottom: 31vh;
}

.w-31 {
  width: 31vh;
}

.h-31 {
  height: 31vh;
}

.rounded-31 {
  border-radius: 31vh;
}

.border-31 {
  border: 31vh;
}

.text-32 {
  font-size: 32vh;
}

.m-32 {
  margin: 32vh;
}

.ml-32 {
  margin-left: 32vh;
}

.mr-32 {
  margin-right: 32vh;
}

.mt-32 {
  margin-top: 32vh;
}

.mb-32 {
  margin-bottom: 32vh;
}

.p-32 {
  padding: 32vh;
}

.pt-32 {
  padding-top: 32vh;
}

.pl-32 {
  padding-left: 32vh;
}

.pr-32 {
  padding-right: 32vh;
}

.pb-32 {
  padding-bottom: 32vh;
}

.w-32 {
  width: 32vh;
}

.h-32 {
  height: 32vh;
}

.rounded-32 {
  border-radius: 32vh;
}

.border-32 {
  border: 32vh;
}

.text-33 {
  font-size: 33vh;
}

.m-33 {
  margin: 33vh;
}

.ml-33 {
  margin-left: 33vh;
}

.mr-33 {
  margin-right: 33vh;
}

.mt-33 {
  margin-top: 33vh;
}

.mb-33 {
  margin-bottom: 33vh;
}

.p-33 {
  padding: 33vh;
}

.pt-33 {
  padding-top: 33vh;
}

.pl-33 {
  padding-left: 33vh;
}

.pr-33 {
  padding-right: 33vh;
}

.pb-33 {
  padding-bottom: 33vh;
}

.w-33 {
  width: 33vh;
}

.h-33 {
  height: 33vh;
}

.rounded-33 {
  border-radius: 33vh;
}

.border-33 {
  border: 33vh;
}

.text-34 {
  font-size: 34vh;
}

.m-34 {
  margin: 34vh;
}

.ml-34 {
  margin-left: 34vh;
}

.mr-34 {
  margin-right: 34vh;
}

.mt-34 {
  margin-top: 34vh;
}

.mb-34 {
  margin-bottom: 34vh;
}

.p-34 {
  padding: 34vh;
}

.pt-34 {
  padding-top: 34vh;
}

.pl-34 {
  padding-left: 34vh;
}

.pr-34 {
  padding-right: 34vh;
}

.pb-34 {
  padding-bottom: 34vh;
}

.w-34 {
  width: 34vh;
}

.h-34 {
  height: 34vh;
}

.rounded-34 {
  border-radius: 34vh;
}

.border-34 {
  border: 34vh;
}

.text-35 {
  font-size: 35vh;
}

.m-35 {
  margin: 35vh;
}

.ml-35 {
  margin-left: 35vh;
}

.mr-35 {
  margin-right: 35vh;
}

.mt-35 {
  margin-top: 35vh;
}

.mb-35 {
  margin-bottom: 35vh;
}

.p-35 {
  padding: 35vh;
}

.pt-35 {
  padding-top: 35vh;
}

.pl-35 {
  padding-left: 35vh;
}

.pr-35 {
  padding-right: 35vh;
}

.pb-35 {
  padding-bottom: 35vh;
}

.w-35 {
  width: 35vh;
}

.h-35 {
  height: 35vh;
}

.rounded-35 {
  border-radius: 35vh;
}

.border-35 {
  border: 35vh;
}

.text-36 {
  font-size: 36vh;
}

.m-36 {
  margin: 36vh;
}

.ml-36 {
  margin-left: 36vh;
}

.mr-36 {
  margin-right: 36vh;
}

.mt-36 {
  margin-top: 36vh;
}

.mb-36 {
  margin-bottom: 36vh;
}

.p-36 {
  padding: 36vh;
}

.pt-36 {
  padding-top: 36vh;
}

.pl-36 {
  padding-left: 36vh;
}

.pr-36 {
  padding-right: 36vh;
}

.pb-36 {
  padding-bottom: 36vh;
}

.w-36 {
  width: 36vh;
}

.h-36 {
  height: 36vh;
}

.rounded-36 {
  border-radius: 36vh;
}

.border-36 {
  border: 36vh;
}

.text-37 {
  font-size: 37vh;
}

.m-37 {
  margin: 37vh;
}

.ml-37 {
  margin-left: 37vh;
}

.mr-37 {
  margin-right: 37vh;
}

.mt-37 {
  margin-top: 37vh;
}

.mb-37 {
  margin-bottom: 37vh;
}

.p-37 {
  padding: 37vh;
}

.pt-37 {
  padding-top: 37vh;
}

.pl-37 {
  padding-left: 37vh;
}

.pr-37 {
  padding-right: 37vh;
}

.pb-37 {
  padding-bottom: 37vh;
}

.w-37 {
  width: 37vh;
}

.h-37 {
  height: 37vh;
}

.rounded-37 {
  border-radius: 37vh;
}

.border-37 {
  border: 37vh;
}

.text-38 {
  font-size: 38vh;
}

.m-38 {
  margin: 38vh;
}

.ml-38 {
  margin-left: 38vh;
}

.mr-38 {
  margin-right: 38vh;
}

.mt-38 {
  margin-top: 38vh;
}

.mb-38 {
  margin-bottom: 38vh;
}

.p-38 {
  padding: 38vh;
}

.pt-38 {
  padding-top: 38vh;
}

.pl-38 {
  padding-left: 38vh;
}

.pr-38 {
  padding-right: 38vh;
}

.pb-38 {
  padding-bottom: 38vh;
}

.w-38 {
  width: 38vh;
}

.h-38 {
  height: 38vh;
}

.rounded-38 {
  border-radius: 38vh;
}

.border-38 {
  border: 38vh;
}

.text-39 {
  font-size: 39vh;
}

.m-39 {
  margin: 39vh;
}

.ml-39 {
  margin-left: 39vh;
}

.mr-39 {
  margin-right: 39vh;
}

.mt-39 {
  margin-top: 39vh;
}

.mb-39 {
  margin-bottom: 39vh;
}

.p-39 {
  padding: 39vh;
}

.pt-39 {
  padding-top: 39vh;
}

.pl-39 {
  padding-left: 39vh;
}

.pr-39 {
  padding-right: 39vh;
}

.pb-39 {
  padding-bottom: 39vh;
}

.w-39 {
  width: 39vh;
}

.h-39 {
  height: 39vh;
}

.rounded-39 {
  border-radius: 39vh;
}

.border-39 {
  border: 39vh;
}

.text-40 {
  font-size: 40vh;
}

.m-40 {
  margin: 40vh;
}

.ml-40 {
  margin-left: 40vh;
}

.mr-40 {
  margin-right: 40vh;
}

.mt-40 {
  margin-top: 40vh;
}

.mb-40 {
  margin-bottom: 40vh;
}

.p-40 {
  padding: 40vh;
}

.pt-40 {
  padding-top: 40vh;
}

.pl-40 {
  padding-left: 40vh;
}

.pr-40 {
  padding-right: 40vh;
}

.pb-40 {
  padding-bottom: 40vh;
}

.w-40 {
  width: 40vh;
}

.h-40 {
  height: 40vh;
}

.rounded-40 {
  border-radius: 40vh;
}

.border-40 {
  border: 40vh;
}

.text-41 {
  font-size: 41vh;
}

.m-41 {
  margin: 41vh;
}

.ml-41 {
  margin-left: 41vh;
}

.mr-41 {
  margin-right: 41vh;
}

.mt-41 {
  margin-top: 41vh;
}

.mb-41 {
  margin-bottom: 41vh;
}

.p-41 {
  padding: 41vh;
}

.pt-41 {
  padding-top: 41vh;
}

.pl-41 {
  padding-left: 41vh;
}

.pr-41 {
  padding-right: 41vh;
}

.pb-41 {
  padding-bottom: 41vh;
}

.w-41 {
  width: 41vh;
}

.h-41 {
  height: 41vh;
}

.rounded-41 {
  border-radius: 41vh;
}

.border-41 {
  border: 41vh;
}

.text-42 {
  font-size: 42vh;
}

.m-42 {
  margin: 42vh;
}

.ml-42 {
  margin-left: 42vh;
}

.mr-42 {
  margin-right: 42vh;
}

.mt-42 {
  margin-top: 42vh;
}

.mb-42 {
  margin-bottom: 42vh;
}

.p-42 {
  padding: 42vh;
}

.pt-42 {
  padding-top: 42vh;
}

.pl-42 {
  padding-left: 42vh;
}

.pr-42 {
  padding-right: 42vh;
}

.pb-42 {
  padding-bottom: 42vh;
}

.w-42 {
  width: 42vh;
}

.h-42 {
  height: 42vh;
}

.rounded-42 {
  border-radius: 42vh;
}

.border-42 {
  border: 42vh;
}

.text-43 {
  font-size: 43vh;
}

.m-43 {
  margin: 43vh;
}

.ml-43 {
  margin-left: 43vh;
}

.mr-43 {
  margin-right: 43vh;
}

.mt-43 {
  margin-top: 43vh;
}

.mb-43 {
  margin-bottom: 43vh;
}

.p-43 {
  padding: 43vh;
}

.pt-43 {
  padding-top: 43vh;
}

.pl-43 {
  padding-left: 43vh;
}

.pr-43 {
  padding-right: 43vh;
}

.pb-43 {
  padding-bottom: 43vh;
}

.w-43 {
  width: 43vh;
}

.h-43 {
  height: 43vh;
}

.rounded-43 {
  border-radius: 43vh;
}

.border-43 {
  border: 43vh;
}

.text-44 {
  font-size: 44vh;
}

.m-44 {
  margin: 44vh;
}

.ml-44 {
  margin-left: 44vh;
}

.mr-44 {
  margin-right: 44vh;
}

.mt-44 {
  margin-top: 44vh;
}

.mb-44 {
  margin-bottom: 44vh;
}

.p-44 {
  padding: 44vh;
}

.pt-44 {
  padding-top: 44vh;
}

.pl-44 {
  padding-left: 44vh;
}

.pr-44 {
  padding-right: 44vh;
}

.pb-44 {
  padding-bottom: 44vh;
}

.w-44 {
  width: 44vh;
}

.h-44 {
  height: 44vh;
}

.rounded-44 {
  border-radius: 44vh;
}

.border-44 {
  border: 44vh;
}

.text-45 {
  font-size: 45vh;
}

.m-45 {
  margin: 45vh;
}

.ml-45 {
  margin-left: 45vh;
}

.mr-45 {
  margin-right: 45vh;
}

.mt-45 {
  margin-top: 45vh;
}

.mb-45 {
  margin-bottom: 45vh;
}

.p-45 {
  padding: 45vh;
}

.pt-45 {
  padding-top: 45vh;
}

.pl-45 {
  padding-left: 45vh;
}

.pr-45 {
  padding-right: 45vh;
}

.pb-45 {
  padding-bottom: 45vh;
}

.w-45 {
  width: 45vh;
}

.h-45 {
  height: 45vh;
}

.rounded-45 {
  border-radius: 45vh;
}

.border-45 {
  border: 45vh;
}

.text-46 {
  font-size: 46vh;
}

.m-46 {
  margin: 46vh;
}

.ml-46 {
  margin-left: 46vh;
}

.mr-46 {
  margin-right: 46vh;
}

.mt-46 {
  margin-top: 46vh;
}

.mb-46 {
  margin-bottom: 46vh;
}

.p-46 {
  padding: 46vh;
}

.pt-46 {
  padding-top: 46vh;
}

.pl-46 {
  padding-left: 46vh;
}

.pr-46 {
  padding-right: 46vh;
}

.pb-46 {
  padding-bottom: 46vh;
}

.w-46 {
  width: 46vh;
}

.h-46 {
  height: 46vh;
}

.rounded-46 {
  border-radius: 46vh;
}

.border-46 {
  border: 46vh;
}

.text-47 {
  font-size: 47vh;
}

.m-47 {
  margin: 47vh;
}

.ml-47 {
  margin-left: 47vh;
}

.mr-47 {
  margin-right: 47vh;
}

.mt-47 {
  margin-top: 47vh;
}

.mb-47 {
  margin-bottom: 47vh;
}

.p-47 {
  padding: 47vh;
}

.pt-47 {
  padding-top: 47vh;
}

.pl-47 {
  padding-left: 47vh;
}

.pr-47 {
  padding-right: 47vh;
}

.pb-47 {
  padding-bottom: 47vh;
}

.w-47 {
  width: 47vh;
}

.h-47 {
  height: 47vh;
}

.rounded-47 {
  border-radius: 47vh;
}

.border-47 {
  border: 47vh;
}

.text-48 {
  font-size: 48vh;
}

.m-48 {
  margin: 48vh;
}

.ml-48 {
  margin-left: 48vh;
}

.mr-48 {
  margin-right: 48vh;
}

.mt-48 {
  margin-top: 48vh;
}

.mb-48 {
  margin-bottom: 48vh;
}

.p-48 {
  padding: 48vh;
}

.pt-48 {
  padding-top: 48vh;
}

.pl-48 {
  padding-left: 48vh;
}

.pr-48 {
  padding-right: 48vh;
}

.pb-48 {
  padding-bottom: 48vh;
}

.w-48 {
  width: 48vh;
}

.h-48 {
  height: 48vh;
}

.rounded-48 {
  border-radius: 48vh;
}

.border-48 {
  border: 48vh;
}

.text-49 {
  font-size: 49vh;
}

.m-49 {
  margin: 49vh;
}

.ml-49 {
  margin-left: 49vh;
}

.mr-49 {
  margin-right: 49vh;
}

.mt-49 {
  margin-top: 49vh;
}

.mb-49 {
  margin-bottom: 49vh;
}

.p-49 {
  padding: 49vh;
}

.pt-49 {
  padding-top: 49vh;
}

.pl-49 {
  padding-left: 49vh;
}

.pr-49 {
  padding-right: 49vh;
}

.pb-49 {
  padding-bottom: 49vh;
}

.w-49 {
  width: 49vh;
}

.h-49 {
  height: 49vh;
}

.rounded-49 {
  border-radius: 49vh;
}

.border-49 {
  border: 49vh;
}

.text-50 {
  font-size: 50vh;
}

.m-50 {
  margin: 50vh;
}

.ml-50 {
  margin-left: 50vh;
}

.mr-50 {
  margin-right: 50vh;
}

.mt-50 {
  margin-top: 50vh;
}

.mb-50 {
  margin-bottom: 50vh;
}

.p-50 {
  padding: 50vh;
}

.pt-50 {
  padding-top: 50vh;
}

.pl-50 {
  padding-left: 50vh;
}

.pr-50 {
  padding-right: 50vh;
}

.pb-50 {
  padding-bottom: 50vh;
}

.w-50 {
  width: 50vh;
}

.h-50 {
  height: 50vh;
}

.rounded-50 {
  border-radius: 50vh;
}

.border-50 {
  border: 50vh;
}

.text-51 {
  font-size: 51vh;
}

.m-51 {
  margin: 51vh;
}

.ml-51 {
  margin-left: 51vh;
}

.mr-51 {
  margin-right: 51vh;
}

.mt-51 {
  margin-top: 51vh;
}

.mb-51 {
  margin-bottom: 51vh;
}

.p-51 {
  padding: 51vh;
}

.pt-51 {
  padding-top: 51vh;
}

.pl-51 {
  padding-left: 51vh;
}

.pr-51 {
  padding-right: 51vh;
}

.pb-51 {
  padding-bottom: 51vh;
}

.w-51 {
  width: 51vh;
}

.h-51 {
  height: 51vh;
}

.rounded-51 {
  border-radius: 51vh;
}

.border-51 {
  border: 51vh;
}

.text-52 {
  font-size: 52vh;
}

.m-52 {
  margin: 52vh;
}

.ml-52 {
  margin-left: 52vh;
}

.mr-52 {
  margin-right: 52vh;
}

.mt-52 {
  margin-top: 52vh;
}

.mb-52 {
  margin-bottom: 52vh;
}

.p-52 {
  padding: 52vh;
}

.pt-52 {
  padding-top: 52vh;
}

.pl-52 {
  padding-left: 52vh;
}

.pr-52 {
  padding-right: 52vh;
}

.pb-52 {
  padding-bottom: 52vh;
}

.w-52 {
  width: 52vh;
}

.h-52 {
  height: 52vh;
}

.rounded-52 {
  border-radius: 52vh;
}

.border-52 {
  border: 52vh;
}

.text-53 {
  font-size: 53vh;
}

.m-53 {
  margin: 53vh;
}

.ml-53 {
  margin-left: 53vh;
}

.mr-53 {
  margin-right: 53vh;
}

.mt-53 {
  margin-top: 53vh;
}

.mb-53 {
  margin-bottom: 53vh;
}

.p-53 {
  padding: 53vh;
}

.pt-53 {
  padding-top: 53vh;
}

.pl-53 {
  padding-left: 53vh;
}

.pr-53 {
  padding-right: 53vh;
}

.pb-53 {
  padding-bottom: 53vh;
}

.w-53 {
  width: 53vh;
}

.h-53 {
  height: 53vh;
}

.rounded-53 {
  border-radius: 53vh;
}

.border-53 {
  border: 53vh;
}

.text-54 {
  font-size: 54vh;
}

.m-54 {
  margin: 54vh;
}

.ml-54 {
  margin-left: 54vh;
}

.mr-54 {
  margin-right: 54vh;
}

.mt-54 {
  margin-top: 54vh;
}

.mb-54 {
  margin-bottom: 54vh;
}

.p-54 {
  padding: 54vh;
}

.pt-54 {
  padding-top: 54vh;
}

.pl-54 {
  padding-left: 54vh;
}

.pr-54 {
  padding-right: 54vh;
}

.pb-54 {
  padding-bottom: 54vh;
}

.w-54 {
  width: 54vh;
}

.h-54 {
  height: 54vh;
}

.rounded-54 {
  border-radius: 54vh;
}

.border-54 {
  border: 54vh;
}

.text-55 {
  font-size: 55vh;
}

.m-55 {
  margin: 55vh;
}

.ml-55 {
  margin-left: 55vh;
}

.mr-55 {
  margin-right: 55vh;
}

.mt-55 {
  margin-top: 55vh;
}

.mb-55 {
  margin-bottom: 55vh;
}

.p-55 {
  padding: 55vh;
}

.pt-55 {
  padding-top: 55vh;
}

.pl-55 {
  padding-left: 55vh;
}

.pr-55 {
  padding-right: 55vh;
}

.pb-55 {
  padding-bottom: 55vh;
}

.w-55 {
  width: 55vh;
}

.h-55 {
  height: 55vh;
}

.rounded-55 {
  border-radius: 55vh;
}

.border-55 {
  border: 55vh;
}

.text-56 {
  font-size: 56vh;
}

.m-56 {
  margin: 56vh;
}

.ml-56 {
  margin-left: 56vh;
}

.mr-56 {
  margin-right: 56vh;
}

.mt-56 {
  margin-top: 56vh;
}

.mb-56 {
  margin-bottom: 56vh;
}

.p-56 {
  padding: 56vh;
}

.pt-56 {
  padding-top: 56vh;
}

.pl-56 {
  padding-left: 56vh;
}

.pr-56 {
  padding-right: 56vh;
}

.pb-56 {
  padding-bottom: 56vh;
}

.w-56 {
  width: 56vh;
}

.h-56 {
  height: 56vh;
}

.rounded-56 {
  border-radius: 56vh;
}

.border-56 {
  border: 56vh;
}

.text-57 {
  font-size: 57vh;
}

.m-57 {
  margin: 57vh;
}

.ml-57 {
  margin-left: 57vh;
}

.mr-57 {
  margin-right: 57vh;
}

.mt-57 {
  margin-top: 57vh;
}

.mb-57 {
  margin-bottom: 57vh;
}

.p-57 {
  padding: 57vh;
}

.pt-57 {
  padding-top: 57vh;
}

.pl-57 {
  padding-left: 57vh;
}

.pr-57 {
  padding-right: 57vh;
}

.pb-57 {
  padding-bottom: 57vh;
}

.w-57 {
  width: 57vh;
}

.h-57 {
  height: 57vh;
}

.rounded-57 {
  border-radius: 57vh;
}

.border-57 {
  border: 57vh;
}

.text-58 {
  font-size: 58vh;
}

.m-58 {
  margin: 58vh;
}

.ml-58 {
  margin-left: 58vh;
}

.mr-58 {
  margin-right: 58vh;
}

.mt-58 {
  margin-top: 58vh;
}

.mb-58 {
  margin-bottom: 58vh;
}

.p-58 {
  padding: 58vh;
}

.pt-58 {
  padding-top: 58vh;
}

.pl-58 {
  padding-left: 58vh;
}

.pr-58 {
  padding-right: 58vh;
}

.pb-58 {
  padding-bottom: 58vh;
}

.w-58 {
  width: 58vh;
}

.h-58 {
  height: 58vh;
}

.rounded-58 {
  border-radius: 58vh;
}

.border-58 {
  border: 58vh;
}

.text-59 {
  font-size: 59vh;
}

.m-59 {
  margin: 59vh;
}

.ml-59 {
  margin-left: 59vh;
}

.mr-59 {
  margin-right: 59vh;
}

.mt-59 {
  margin-top: 59vh;
}

.mb-59 {
  margin-bottom: 59vh;
}

.p-59 {
  padding: 59vh;
}

.pt-59 {
  padding-top: 59vh;
}

.pl-59 {
  padding-left: 59vh;
}

.pr-59 {
  padding-right: 59vh;
}

.pb-59 {
  padding-bottom: 59vh;
}

.w-59 {
  width: 59vh;
}

.h-59 {
  height: 59vh;
}

.rounded-59 {
  border-radius: 59vh;
}

.border-59 {
  border: 59vh;
}

.text-60 {
  font-size: 60vh;
}

.m-60 {
  margin: 60vh;
}

.ml-60 {
  margin-left: 60vh;
}

.mr-60 {
  margin-right: 60vh;
}

.mt-60 {
  margin-top: 60vh;
}

.mb-60 {
  margin-bottom: 60vh;
}

.p-60 {
  padding: 60vh;
}

.pt-60 {
  padding-top: 60vh;
}

.pl-60 {
  padding-left: 60vh;
}

.pr-60 {
  padding-right: 60vh;
}

.pb-60 {
  padding-bottom: 60vh;
}

.w-60 {
  width: 60vh;
}

.h-60 {
  height: 60vh;
}

.rounded-60 {
  border-radius: 60vh;
}

.border-60 {
  border: 60vh;
}

.text-61 {
  font-size: 61vh;
}

.m-61 {
  margin: 61vh;
}

.ml-61 {
  margin-left: 61vh;
}

.mr-61 {
  margin-right: 61vh;
}

.mt-61 {
  margin-top: 61vh;
}

.mb-61 {
  margin-bottom: 61vh;
}

.p-61 {
  padding: 61vh;
}

.pt-61 {
  padding-top: 61vh;
}

.pl-61 {
  padding-left: 61vh;
}

.pr-61 {
  padding-right: 61vh;
}

.pb-61 {
  padding-bottom: 61vh;
}

.w-61 {
  width: 61vh;
}

.h-61 {
  height: 61vh;
}

.rounded-61 {
  border-radius: 61vh;
}

.border-61 {
  border: 61vh;
}

.text-62 {
  font-size: 62vh;
}

.m-62 {
  margin: 62vh;
}

.ml-62 {
  margin-left: 62vh;
}

.mr-62 {
  margin-right: 62vh;
}

.mt-62 {
  margin-top: 62vh;
}

.mb-62 {
  margin-bottom: 62vh;
}

.p-62 {
  padding: 62vh;
}

.pt-62 {
  padding-top: 62vh;
}

.pl-62 {
  padding-left: 62vh;
}

.pr-62 {
  padding-right: 62vh;
}

.pb-62 {
  padding-bottom: 62vh;
}

.w-62 {
  width: 62vh;
}

.h-62 {
  height: 62vh;
}

.rounded-62 {
  border-radius: 62vh;
}

.border-62 {
  border: 62vh;
}

.text-63 {
  font-size: 63vh;
}

.m-63 {
  margin: 63vh;
}

.ml-63 {
  margin-left: 63vh;
}

.mr-63 {
  margin-right: 63vh;
}

.mt-63 {
  margin-top: 63vh;
}

.mb-63 {
  margin-bottom: 63vh;
}

.p-63 {
  padding: 63vh;
}

.pt-63 {
  padding-top: 63vh;
}

.pl-63 {
  padding-left: 63vh;
}

.pr-63 {
  padding-right: 63vh;
}

.pb-63 {
  padding-bottom: 63vh;
}

.w-63 {
  width: 63vh;
}

.h-63 {
  height: 63vh;
}

.rounded-63 {
  border-radius: 63vh;
}

.border-63 {
  border: 63vh;
}

.text-64 {
  font-size: 64vh;
}

.m-64 {
  margin: 64vh;
}

.ml-64 {
  margin-left: 64vh;
}

.mr-64 {
  margin-right: 64vh;
}

.mt-64 {
  margin-top: 64vh;
}

.mb-64 {
  margin-bottom: 64vh;
}

.p-64 {
  padding: 64vh;
}

.pt-64 {
  padding-top: 64vh;
}

.pl-64 {
  padding-left: 64vh;
}

.pr-64 {
  padding-right: 64vh;
}

.pb-64 {
  padding-bottom: 64vh;
}

.w-64 {
  width: 64vh;
}

.h-64 {
  height: 64vh;
}

.rounded-64 {
  border-radius: 64vh;
}

.border-64 {
  border: 64vh;
}

.text-65 {
  font-size: 65vh;
}

.m-65 {
  margin: 65vh;
}

.ml-65 {
  margin-left: 65vh;
}

.mr-65 {
  margin-right: 65vh;
}

.mt-65 {
  margin-top: 65vh;
}

.mb-65 {
  margin-bottom: 65vh;
}

.p-65 {
  padding: 65vh;
}

.pt-65 {
  padding-top: 65vh;
}

.pl-65 {
  padding-left: 65vh;
}

.pr-65 {
  padding-right: 65vh;
}

.pb-65 {
  padding-bottom: 65vh;
}

.w-65 {
  width: 65vh;
}

.h-65 {
  height: 65vh;
}

.rounded-65 {
  border-radius: 65vh;
}

.border-65 {
  border: 65vh;
}

.text-66 {
  font-size: 66vh;
}

.m-66 {
  margin: 66vh;
}

.ml-66 {
  margin-left: 66vh;
}

.mr-66 {
  margin-right: 66vh;
}

.mt-66 {
  margin-top: 66vh;
}

.mb-66 {
  margin-bottom: 66vh;
}

.p-66 {
  padding: 66vh;
}

.pt-66 {
  padding-top: 66vh;
}

.pl-66 {
  padding-left: 66vh;
}

.pr-66 {
  padding-right: 66vh;
}

.pb-66 {
  padding-bottom: 66vh;
}

.w-66 {
  width: 66vh;
}

.h-66 {
  height: 66vh;
}

.rounded-66 {
  border-radius: 66vh;
}

.border-66 {
  border: 66vh;
}

.text-67 {
  font-size: 67vh;
}

.m-67 {
  margin: 67vh;
}

.ml-67 {
  margin-left: 67vh;
}

.mr-67 {
  margin-right: 67vh;
}

.mt-67 {
  margin-top: 67vh;
}

.mb-67 {
  margin-bottom: 67vh;
}

.p-67 {
  padding: 67vh;
}

.pt-67 {
  padding-top: 67vh;
}

.pl-67 {
  padding-left: 67vh;
}

.pr-67 {
  padding-right: 67vh;
}

.pb-67 {
  padding-bottom: 67vh;
}

.w-67 {
  width: 67vh;
}

.h-67 {
  height: 67vh;
}

.rounded-67 {
  border-radius: 67vh;
}

.border-67 {
  border: 67vh;
}

.text-68 {
  font-size: 68vh;
}

.m-68 {
  margin: 68vh;
}

.ml-68 {
  margin-left: 68vh;
}

.mr-68 {
  margin-right: 68vh;
}

.mt-68 {
  margin-top: 68vh;
}

.mb-68 {
  margin-bottom: 68vh;
}

.p-68 {
  padding: 68vh;
}

.pt-68 {
  padding-top: 68vh;
}

.pl-68 {
  padding-left: 68vh;
}

.pr-68 {
  padding-right: 68vh;
}

.pb-68 {
  padding-bottom: 68vh;
}

.w-68 {
  width: 68vh;
}

.h-68 {
  height: 68vh;
}

.rounded-68 {
  border-radius: 68vh;
}

.border-68 {
  border: 68vh;
}

.text-69 {
  font-size: 69vh;
}

.m-69 {
  margin: 69vh;
}

.ml-69 {
  margin-left: 69vh;
}

.mr-69 {
  margin-right: 69vh;
}

.mt-69 {
  margin-top: 69vh;
}

.mb-69 {
  margin-bottom: 69vh;
}

.p-69 {
  padding: 69vh;
}

.pt-69 {
  padding-top: 69vh;
}

.pl-69 {
  padding-left: 69vh;
}

.pr-69 {
  padding-right: 69vh;
}

.pb-69 {
  padding-bottom: 69vh;
}

.w-69 {
  width: 69vh;
}

.h-69 {
  height: 69vh;
}

.rounded-69 {
  border-radius: 69vh;
}

.border-69 {
  border: 69vh;
}

.text-70 {
  font-size: 70vh;
}

.m-70 {
  margin: 70vh;
}

.ml-70 {
  margin-left: 70vh;
}

.mr-70 {
  margin-right: 70vh;
}

.mt-70 {
  margin-top: 70vh;
}

.mb-70 {
  margin-bottom: 70vh;
}

.p-70 {
  padding: 70vh;
}

.pt-70 {
  padding-top: 70vh;
}

.pl-70 {
  padding-left: 70vh;
}

.pr-70 {
  padding-right: 70vh;
}

.pb-70 {
  padding-bottom: 70vh;
}

.w-70 {
  width: 70vh;
}

.h-70 {
  height: 70vh;
}

.rounded-70 {
  border-radius: 70vh;
}

.border-70 {
  border: 70vh;
}

.text-71 {
  font-size: 71vh;
}

.m-71 {
  margin: 71vh;
}

.ml-71 {
  margin-left: 71vh;
}

.mr-71 {
  margin-right: 71vh;
}

.mt-71 {
  margin-top: 71vh;
}

.mb-71 {
  margin-bottom: 71vh;
}

.p-71 {
  padding: 71vh;
}

.pt-71 {
  padding-top: 71vh;
}

.pl-71 {
  padding-left: 71vh;
}

.pr-71 {
  padding-right: 71vh;
}

.pb-71 {
  padding-bottom: 71vh;
}

.w-71 {
  width: 71vh;
}

.h-71 {
  height: 71vh;
}

.rounded-71 {
  border-radius: 71vh;
}

.border-71 {
  border: 71vh;
}

.text-72 {
  font-size: 72vh;
}

.m-72 {
  margin: 72vh;
}

.ml-72 {
  margin-left: 72vh;
}

.mr-72 {
  margin-right: 72vh;
}

.mt-72 {
  margin-top: 72vh;
}

.mb-72 {
  margin-bottom: 72vh;
}

.p-72 {
  padding: 72vh;
}

.pt-72 {
  padding-top: 72vh;
}

.pl-72 {
  padding-left: 72vh;
}

.pr-72 {
  padding-right: 72vh;
}

.pb-72 {
  padding-bottom: 72vh;
}

.w-72 {
  width: 72vh;
}

.h-72 {
  height: 72vh;
}

.rounded-72 {
  border-radius: 72vh;
}

.border-72 {
  border: 72vh;
}

.text-73 {
  font-size: 73vh;
}

.m-73 {
  margin: 73vh;
}

.ml-73 {
  margin-left: 73vh;
}

.mr-73 {
  margin-right: 73vh;
}

.mt-73 {
  margin-top: 73vh;
}

.mb-73 {
  margin-bottom: 73vh;
}

.p-73 {
  padding: 73vh;
}

.pt-73 {
  padding-top: 73vh;
}

.pl-73 {
  padding-left: 73vh;
}

.pr-73 {
  padding-right: 73vh;
}

.pb-73 {
  padding-bottom: 73vh;
}

.w-73 {
  width: 73vh;
}

.h-73 {
  height: 73vh;
}

.rounded-73 {
  border-radius: 73vh;
}

.border-73 {
  border: 73vh;
}

.text-74 {
  font-size: 74vh;
}

.m-74 {
  margin: 74vh;
}

.ml-74 {
  margin-left: 74vh;
}

.mr-74 {
  margin-right: 74vh;
}

.mt-74 {
  margin-top: 74vh;
}

.mb-74 {
  margin-bottom: 74vh;
}

.p-74 {
  padding: 74vh;
}

.pt-74 {
  padding-top: 74vh;
}

.pl-74 {
  padding-left: 74vh;
}

.pr-74 {
  padding-right: 74vh;
}

.pb-74 {
  padding-bottom: 74vh;
}

.w-74 {
  width: 74vh;
}

.h-74 {
  height: 74vh;
}

.rounded-74 {
  border-radius: 74vh;
}

.border-74 {
  border: 74vh;
}

.text-75 {
  font-size: 75vh;
}

.m-75 {
  margin: 75vh;
}

.ml-75 {
  margin-left: 75vh;
}

.mr-75 {
  margin-right: 75vh;
}

.mt-75 {
  margin-top: 75vh;
}

.mb-75 {
  margin-bottom: 75vh;
}

.p-75 {
  padding: 75vh;
}

.pt-75 {
  padding-top: 75vh;
}

.pl-75 {
  padding-left: 75vh;
}

.pr-75 {
  padding-right: 75vh;
}

.pb-75 {
  padding-bottom: 75vh;
}

.w-75 {
  width: 75vh;
}

.h-75 {
  height: 75vh;
}

.rounded-75 {
  border-radius: 75vh;
}

.border-75 {
  border: 75vh;
}

.text-76 {
  font-size: 76vh;
}

.m-76 {
  margin: 76vh;
}

.ml-76 {
  margin-left: 76vh;
}

.mr-76 {
  margin-right: 76vh;
}

.mt-76 {
  margin-top: 76vh;
}

.mb-76 {
  margin-bottom: 76vh;
}

.p-76 {
  padding: 76vh;
}

.pt-76 {
  padding-top: 76vh;
}

.pl-76 {
  padding-left: 76vh;
}

.pr-76 {
  padding-right: 76vh;
}

.pb-76 {
  padding-bottom: 76vh;
}

.w-76 {
  width: 76vh;
}

.h-76 {
  height: 76vh;
}

.rounded-76 {
  border-radius: 76vh;
}

.border-76 {
  border: 76vh;
}

.text-77 {
  font-size: 77vh;
}

.m-77 {
  margin: 77vh;
}

.ml-77 {
  margin-left: 77vh;
}

.mr-77 {
  margin-right: 77vh;
}

.mt-77 {
  margin-top: 77vh;
}

.mb-77 {
  margin-bottom: 77vh;
}

.p-77 {
  padding: 77vh;
}

.pt-77 {
  padding-top: 77vh;
}

.pl-77 {
  padding-left: 77vh;
}

.pr-77 {
  padding-right: 77vh;
}

.pb-77 {
  padding-bottom: 77vh;
}

.w-77 {
  width: 77vh;
}

.h-77 {
  height: 77vh;
}

.rounded-77 {
  border-radius: 77vh;
}

.border-77 {
  border: 77vh;
}

.text-78 {
  font-size: 78vh;
}

.m-78 {
  margin: 78vh;
}

.ml-78 {
  margin-left: 78vh;
}

.mr-78 {
  margin-right: 78vh;
}

.mt-78 {
  margin-top: 78vh;
}

.mb-78 {
  margin-bottom: 78vh;
}

.p-78 {
  padding: 78vh;
}

.pt-78 {
  padding-top: 78vh;
}

.pl-78 {
  padding-left: 78vh;
}

.pr-78 {
  padding-right: 78vh;
}

.pb-78 {
  padding-bottom: 78vh;
}

.w-78 {
  width: 78vh;
}

.h-78 {
  height: 78vh;
}

.rounded-78 {
  border-radius: 78vh;
}

.border-78 {
  border: 78vh;
}

.text-79 {
  font-size: 79vh;
}

.m-79 {
  margin: 79vh;
}

.ml-79 {
  margin-left: 79vh;
}

.mr-79 {
  margin-right: 79vh;
}

.mt-79 {
  margin-top: 79vh;
}

.mb-79 {
  margin-bottom: 79vh;
}

.p-79 {
  padding: 79vh;
}

.pt-79 {
  padding-top: 79vh;
}

.pl-79 {
  padding-left: 79vh;
}

.pr-79 {
  padding-right: 79vh;
}

.pb-79 {
  padding-bottom: 79vh;
}

.w-79 {
  width: 79vh;
}

.h-79 {
  height: 79vh;
}

.rounded-79 {
  border-radius: 79vh;
}

.border-79 {
  border: 79vh;
}

.text-80 {
  font-size: 80vh;
}

.m-80 {
  margin: 80vh;
}

.ml-80 {
  margin-left: 80vh;
}

.mr-80 {
  margin-right: 80vh;
}

.mt-80 {
  margin-top: 80vh;
}

.mb-80 {
  margin-bottom: 80vh;
}

.p-80 {
  padding: 80vh;
}

.pt-80 {
  padding-top: 80vh;
}

.pl-80 {
  padding-left: 80vh;
}

.pr-80 {
  padding-right: 80vh;
}

.pb-80 {
  padding-bottom: 80vh;
}

.w-80 {
  width: 80vh;
}

.h-80 {
  height: 80vh;
}

.rounded-80 {
  border-radius: 80vh;
}

.border-80 {
  border: 80vh;
}

.text-81 {
  font-size: 81vh;
}

.m-81 {
  margin: 81vh;
}

.ml-81 {
  margin-left: 81vh;
}

.mr-81 {
  margin-right: 81vh;
}

.mt-81 {
  margin-top: 81vh;
}

.mb-81 {
  margin-bottom: 81vh;
}

.p-81 {
  padding: 81vh;
}

.pt-81 {
  padding-top: 81vh;
}

.pl-81 {
  padding-left: 81vh;
}

.pr-81 {
  padding-right: 81vh;
}

.pb-81 {
  padding-bottom: 81vh;
}

.w-81 {
  width: 81vh;
}

.h-81 {
  height: 81vh;
}

.rounded-81 {
  border-radius: 81vh;
}

.border-81 {
  border: 81vh;
}

.text-82 {
  font-size: 82vh;
}

.m-82 {
  margin: 82vh;
}

.ml-82 {
  margin-left: 82vh;
}

.mr-82 {
  margin-right: 82vh;
}

.mt-82 {
  margin-top: 82vh;
}

.mb-82 {
  margin-bottom: 82vh;
}

.p-82 {
  padding: 82vh;
}

.pt-82 {
  padding-top: 82vh;
}

.pl-82 {
  padding-left: 82vh;
}

.pr-82 {
  padding-right: 82vh;
}

.pb-82 {
  padding-bottom: 82vh;
}

.w-82 {
  width: 82vh;
}

.h-82 {
  height: 82vh;
}

.rounded-82 {
  border-radius: 82vh;
}

.border-82 {
  border: 82vh;
}

.text-83 {
  font-size: 83vh;
}

.m-83 {
  margin: 83vh;
}

.ml-83 {
  margin-left: 83vh;
}

.mr-83 {
  margin-right: 83vh;
}

.mt-83 {
  margin-top: 83vh;
}

.mb-83 {
  margin-bottom: 83vh;
}

.p-83 {
  padding: 83vh;
}

.pt-83 {
  padding-top: 83vh;
}

.pl-83 {
  padding-left: 83vh;
}

.pr-83 {
  padding-right: 83vh;
}

.pb-83 {
  padding-bottom: 83vh;
}

.w-83 {
  width: 83vh;
}

.h-83 {
  height: 83vh;
}

.rounded-83 {
  border-radius: 83vh;
}

.border-83 {
  border: 83vh;
}

.text-84 {
  font-size: 84vh;
}

.m-84 {
  margin: 84vh;
}

.ml-84 {
  margin-left: 84vh;
}

.mr-84 {
  margin-right: 84vh;
}

.mt-84 {
  margin-top: 84vh;
}

.mb-84 {
  margin-bottom: 84vh;
}

.p-84 {
  padding: 84vh;
}

.pt-84 {
  padding-top: 84vh;
}

.pl-84 {
  padding-left: 84vh;
}

.pr-84 {
  padding-right: 84vh;
}

.pb-84 {
  padding-bottom: 84vh;
}

.w-84 {
  width: 84vh;
}

.h-84 {
  height: 84vh;
}

.rounded-84 {
  border-radius: 84vh;
}

.border-84 {
  border: 84vh;
}

.text-85 {
  font-size: 85vh;
}

.m-85 {
  margin: 85vh;
}

.ml-85 {
  margin-left: 85vh;
}

.mr-85 {
  margin-right: 85vh;
}

.mt-85 {
  margin-top: 85vh;
}

.mb-85 {
  margin-bottom: 85vh;
}

.p-85 {
  padding: 85vh;
}

.pt-85 {
  padding-top: 85vh;
}

.pl-85 {
  padding-left: 85vh;
}

.pr-85 {
  padding-right: 85vh;
}

.pb-85 {
  padding-bottom: 85vh;
}

.w-85 {
  width: 85vh;
}

.h-85 {
  height: 85vh;
}

.rounded-85 {
  border-radius: 85vh;
}

.border-85 {
  border: 85vh;
}

.text-86 {
  font-size: 86vh;
}

.m-86 {
  margin: 86vh;
}

.ml-86 {
  margin-left: 86vh;
}

.mr-86 {
  margin-right: 86vh;
}

.mt-86 {
  margin-top: 86vh;
}

.mb-86 {
  margin-bottom: 86vh;
}

.p-86 {
  padding: 86vh;
}

.pt-86 {
  padding-top: 86vh;
}

.pl-86 {
  padding-left: 86vh;
}

.pr-86 {
  padding-right: 86vh;
}

.pb-86 {
  padding-bottom: 86vh;
}

.w-86 {
  width: 86vh;
}

.h-86 {
  height: 86vh;
}

.rounded-86 {
  border-radius: 86vh;
}

.border-86 {
  border: 86vh;
}

.text-87 {
  font-size: 87vh;
}

.m-87 {
  margin: 87vh;
}

.ml-87 {
  margin-left: 87vh;
}

.mr-87 {
  margin-right: 87vh;
}

.mt-87 {
  margin-top: 87vh;
}

.mb-87 {
  margin-bottom: 87vh;
}

.p-87 {
  padding: 87vh;
}

.pt-87 {
  padding-top: 87vh;
}

.pl-87 {
  padding-left: 87vh;
}

.pr-87 {
  padding-right: 87vh;
}

.pb-87 {
  padding-bottom: 87vh;
}

.w-87 {
  width: 87vh;
}

.h-87 {
  height: 87vh;
}

.rounded-87 {
  border-radius: 87vh;
}

.border-87 {
  border: 87vh;
}

.text-88 {
  font-size: 88vh;
}

.m-88 {
  margin: 88vh;
}

.ml-88 {
  margin-left: 88vh;
}

.mr-88 {
  margin-right: 88vh;
}

.mt-88 {
  margin-top: 88vh;
}

.mb-88 {
  margin-bottom: 88vh;
}

.p-88 {
  padding: 88vh;
}

.pt-88 {
  padding-top: 88vh;
}

.pl-88 {
  padding-left: 88vh;
}

.pr-88 {
  padding-right: 88vh;
}

.pb-88 {
  padding-bottom: 88vh;
}

.w-88 {
  width: 88vh;
}

.h-88 {
  height: 88vh;
}

.rounded-88 {
  border-radius: 88vh;
}

.border-88 {
  border: 88vh;
}

.text-89 {
  font-size: 89vh;
}

.m-89 {
  margin: 89vh;
}

.ml-89 {
  margin-left: 89vh;
}

.mr-89 {
  margin-right: 89vh;
}

.mt-89 {
  margin-top: 89vh;
}

.mb-89 {
  margin-bottom: 89vh;
}

.p-89 {
  padding: 89vh;
}

.pt-89 {
  padding-top: 89vh;
}

.pl-89 {
  padding-left: 89vh;
}

.pr-89 {
  padding-right: 89vh;
}

.pb-89 {
  padding-bottom: 89vh;
}

.w-89 {
  width: 89vh;
}

.h-89 {
  height: 89vh;
}

.rounded-89 {
  border-radius: 89vh;
}

.border-89 {
  border: 89vh;
}

.text-90 {
  font-size: 90vh;
}

.m-90 {
  margin: 90vh;
}

.ml-90 {
  margin-left: 90vh;
}

.mr-90 {
  margin-right: 90vh;
}

.mt-90 {
  margin-top: 90vh;
}

.mb-90 {
  margin-bottom: 90vh;
}

.p-90 {
  padding: 90vh;
}

.pt-90 {
  padding-top: 90vh;
}

.pl-90 {
  padding-left: 90vh;
}

.pr-90 {
  padding-right: 90vh;
}

.pb-90 {
  padding-bottom: 90vh;
}

.w-90 {
  width: 90vh;
}

.h-90 {
  height: 90vh;
}

.rounded-90 {
  border-radius: 90vh;
}

.border-90 {
  border: 90vh;
}

.text-91 {
  font-size: 91vh;
}

.m-91 {
  margin: 91vh;
}

.ml-91 {
  margin-left: 91vh;
}

.mr-91 {
  margin-right: 91vh;
}

.mt-91 {
  margin-top: 91vh;
}

.mb-91 {
  margin-bottom: 91vh;
}

.p-91 {
  padding: 91vh;
}

.pt-91 {
  padding-top: 91vh;
}

.pl-91 {
  padding-left: 91vh;
}

.pr-91 {
  padding-right: 91vh;
}

.pb-91 {
  padding-bottom: 91vh;
}

.w-91 {
  width: 91vh;
}

.h-91 {
  height: 91vh;
}

.rounded-91 {
  border-radius: 91vh;
}

.border-91 {
  border: 91vh;
}

.text-92 {
  font-size: 92vh;
}

.m-92 {
  margin: 92vh;
}

.ml-92 {
  margin-left: 92vh;
}

.mr-92 {
  margin-right: 92vh;
}

.mt-92 {
  margin-top: 92vh;
}

.mb-92 {
  margin-bottom: 92vh;
}

.p-92 {
  padding: 92vh;
}

.pt-92 {
  padding-top: 92vh;
}

.pl-92 {
  padding-left: 92vh;
}

.pr-92 {
  padding-right: 92vh;
}

.pb-92 {
  padding-bottom: 92vh;
}

.w-92 {
  width: 92vh;
}

.h-92 {
  height: 92vh;
}

.rounded-92 {
  border-radius: 92vh;
}

.border-92 {
  border: 92vh;
}

.text-93 {
  font-size: 93vh;
}

.m-93 {
  margin: 93vh;
}

.ml-93 {
  margin-left: 93vh;
}

.mr-93 {
  margin-right: 93vh;
}

.mt-93 {
  margin-top: 93vh;
}

.mb-93 {
  margin-bottom: 93vh;
}

.p-93 {
  padding: 93vh;
}

.pt-93 {
  padding-top: 93vh;
}

.pl-93 {
  padding-left: 93vh;
}

.pr-93 {
  padding-right: 93vh;
}

.pb-93 {
  padding-bottom: 93vh;
}

.w-93 {
  width: 93vh;
}

.h-93 {
  height: 93vh;
}

.rounded-93 {
  border-radius: 93vh;
}

.border-93 {
  border: 93vh;
}

.text-94 {
  font-size: 94vh;
}

.m-94 {
  margin: 94vh;
}

.ml-94 {
  margin-left: 94vh;
}

.mr-94 {
  margin-right: 94vh;
}

.mt-94 {
  margin-top: 94vh;
}

.mb-94 {
  margin-bottom: 94vh;
}

.p-94 {
  padding: 94vh;
}

.pt-94 {
  padding-top: 94vh;
}

.pl-94 {
  padding-left: 94vh;
}

.pr-94 {
  padding-right: 94vh;
}

.pb-94 {
  padding-bottom: 94vh;
}

.w-94 {
  width: 94vh;
}

.h-94 {
  height: 94vh;
}

.rounded-94 {
  border-radius: 94vh;
}

.border-94 {
  border: 94vh;
}

.text-95 {
  font-size: 95vh;
}

.m-95 {
  margin: 95vh;
}

.ml-95 {
  margin-left: 95vh;
}

.mr-95 {
  margin-right: 95vh;
}

.mt-95 {
  margin-top: 95vh;
}

.mb-95 {
  margin-bottom: 95vh;
}

.p-95 {
  padding: 95vh;
}

.pt-95 {
  padding-top: 95vh;
}

.pl-95 {
  padding-left: 95vh;
}

.pr-95 {
  padding-right: 95vh;
}

.pb-95 {
  padding-bottom: 95vh;
}

.w-95 {
  width: 95vh;
}

.h-95 {
  height: 95vh;
}

.rounded-95 {
  border-radius: 95vh;
}

.border-95 {
  border: 95vh;
}

.text-96 {
  font-size: 96vh;
}

.m-96 {
  margin: 96vh;
}

.ml-96 {
  margin-left: 96vh;
}

.mr-96 {
  margin-right: 96vh;
}

.mt-96 {
  margin-top: 96vh;
}

.mb-96 {
  margin-bottom: 96vh;
}

.p-96 {
  padding: 96vh;
}

.pt-96 {
  padding-top: 96vh;
}

.pl-96 {
  padding-left: 96vh;
}

.pr-96 {
  padding-right: 96vh;
}

.pb-96 {
  padding-bottom: 96vh;
}

.w-96 {
  width: 96vh;
}

.h-96 {
  height: 96vh;
}

.rounded-96 {
  border-radius: 96vh;
}

.border-96 {
  border: 96vh;
}

.text-97 {
  font-size: 97vh;
}

.m-97 {
  margin: 97vh;
}

.ml-97 {
  margin-left: 97vh;
}

.mr-97 {
  margin-right: 97vh;
}

.mt-97 {
  margin-top: 97vh;
}

.mb-97 {
  margin-bottom: 97vh;
}

.p-97 {
  padding: 97vh;
}

.pt-97 {
  padding-top: 97vh;
}

.pl-97 {
  padding-left: 97vh;
}

.pr-97 {
  padding-right: 97vh;
}

.pb-97 {
  padding-bottom: 97vh;
}

.w-97 {
  width: 97vh;
}

.h-97 {
  height: 97vh;
}

.rounded-97 {
  border-radius: 97vh;
}

.border-97 {
  border: 97vh;
}

.text-98 {
  font-size: 98vh;
}

.m-98 {
  margin: 98vh;
}

.ml-98 {
  margin-left: 98vh;
}

.mr-98 {
  margin-right: 98vh;
}

.mt-98 {
  margin-top: 98vh;
}

.mb-98 {
  margin-bottom: 98vh;
}

.p-98 {
  padding: 98vh;
}

.pt-98 {
  padding-top: 98vh;
}

.pl-98 {
  padding-left: 98vh;
}

.pr-98 {
  padding-right: 98vh;
}

.pb-98 {
  padding-bottom: 98vh;
}

.w-98 {
  width: 98vh;
}

.h-98 {
  height: 98vh;
}

.rounded-98 {
  border-radius: 98vh;
}

.border-98 {
  border: 98vh;
}

.text-99 {
  font-size: 99vh;
}

.m-99 {
  margin: 99vh;
}

.ml-99 {
  margin-left: 99vh;
}

.mr-99 {
  margin-right: 99vh;
}

.mt-99 {
  margin-top: 99vh;
}

.mb-99 {
  margin-bottom: 99vh;
}

.p-99 {
  padding: 99vh;
}

.pt-99 {
  padding-top: 99vh;
}

.pl-99 {
  padding-left: 99vh;
}

.pr-99 {
  padding-right: 99vh;
}

.pb-99 {
  padding-bottom: 99vh;
}

.w-99 {
  width: 99vh;
}

.h-99 {
  height: 99vh;
}

.rounded-99 {
  border-radius: 99vh;
}

.border-99 {
  border: 99vh;
}

.text-100 {
  font-size: 100vh;
}

.m-100 {
  margin: 100vh;
}

.ml-100 {
  margin-left: 100vh;
}

.mr-100 {
  margin-right: 100vh;
}

.mt-100 {
  margin-top: 100vh;
}

.mb-100 {
  margin-bottom: 100vh;
}

.p-100 {
  padding: 100vh;
}

.pt-100 {
  padding-top: 100vh;
}

.pl-100 {
  padding-left: 100vh;
}

.pr-100 {
  padding-right: 100vh;
}

.pb-100 {
  padding-bottom: 100vh;
}

.w-100 {
  width: 100vh;
}

.h-100 {
  height: 100vh;
}

.rounded-100 {
  border-radius: 100vh;
}

.border-100 {
  border: 100vh;
}

.rang-red {
  color: red;
}

.bg-red {
  background-color: red;
}

.rang-green {
  color: green;
}

.bg-green {
  background-color: green;
}

.rang-yellow {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.rang-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.rang-blue {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.grid {
  display: grid;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}/*# sourceMappingURL=style.css.map */