@for $i from 1 through 200 {
  
 .text-#{$i} { 
    font-size: #{$i}vh; 
 } 
  
 .m-#{$i} { 
    margin: #{$i}vh; 
 } 
  
 .ml-#{$i} { 
    margin-left: #{$i}vh;  
 } 
  
 .mr-#{$i} { 
    margin-right: #{$i}vh; 
 } 
  
 .mt-#{$i} { 
    margin-top: #{$i}vh; 
 } 
  
 .mb-#{$i} { 
    margin-bottom: #{$i}vh; 
 } 
  
 .p-#{$i} { 
    padding: #{$i}vh; 
 } 
  
 .pt-#{$i} { 
    padding-top: #{$i}vh; 
 } 
  
 .pl-#{$i} { 
    padding-left: #{$i}vh; 
 } 
 .pr-#{$i} { 
    padding-right: #{$i}vh; 
 }  
 .pb-#{$i} { 
    padding-bottom: #{$i}vh;
 } 
 .w-#{$i} { 
    width: #{$i}vh;
 } 
 .h-#{$i} { 
    height: #{$i}vh; 
 } 
 .rounded-#{$i} { 
    border-radius: #{$i}vh;
 } 
 .border-#{$i} { 
    border-width: #{$i}px;
 }
  
 


 
}




$colors : red, green, yellow, white, blue,gray; 

@each $c in $colors { 
    .rang-#{$c} { 
        color: $c ; 
    }  
    .bg-#{$c} { 
        background-color: $c; 
    }
} 


$displays: flex, none, grid ; 
@each $d in $displays { 
   .#{$d} { 
      display: $d; 
   } 
} 

$contents: space-between, center, space-around, space-evenly; 
@each $k in $contents { 
   .justify-#{$k} { 
      justify-content: $k; 
   } 
} 
$contents: space-between, center, space-around, space-evenly; 
@each $k in $contents { 
   .items-#{$k} { 
      align-items: $k; 
   } 
} 


$border: none; 

@each $x in $border { 
   .border-#{$x} { 
      border: $x;
   }
} 

$alins : center, end, start ; 

@each $q in $alins { 
   .align-#{$q} { 
      text-align: #{$q};
   }  

}   

$borders:solid; 
@each $b in $borders { 
   .border-#{$b} { 
      border: $b;
   } 
} 
$borders: black gray; 
@each $b in $borders { 
   .border-#{$b} { 
      border: $b;
   } 
} 
